<html lang="en">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/bookmarks/<%= @bookmark_id %>/comments" method="POST">
      <input type="text" name="comment" />
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
