<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/updateme" method="post">
      URL:
      <input type="text" name="url">
      Title:
      <input type="text" name="title">
      <button type="submit" name="id" value="<%= @bookmark_id %>">
        Update
      </button>
    </form>
  </body>
</html>
