<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/bookmarks/<%= @bookmark_id %>/tags" method="post">
      <input type='text' name='Tag' />
      <input type='submit' name='Apply Tag' />
    </form>
  </body>
</html>
